.App {
  text-align: center;
  /* min-height: 100%; */
}

.background-image-container {
  background-image: url(./images/bg-tablet-pattern.svg);
  background-position: 120%;
  background-size: 50%;
  background-repeat: no-repeat;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

ul > li {
  color: hsl(228, 39%, 23%);
  cursor: pointer;
  font-weight: 500;
}

ul > li:hover {
  color: hsl(227, 12%, 61%);
}

div > li {
  color: hsl(0, 0%, 98%);
  cursor: pointer;
  font-weight: 400;
}

div > li:hover {
  color: hsl(12, 88%, 59%);
}
@media (max-width: 375px) {
  .background-image-container {
    background-size: 100%;
    background-position: top right;
  }
}
