.App {
  text-align: center;
  /* min-height: 100%; */
}

.background-image-container {
  background-image: url(./images/bg-tablet-pattern.svg);
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

ul > li {
  color: hsl(228, 39%, 23%);
  cursor: pointer;
  font-weight: 500;
}

ul > li:hover {
  color: hsl(227, 12%, 61%);
}
